.flex-container{
    outline: 5px;
    outline-style: solid;
    outline-color: black ;
    width: 300px;
    height: 150px;
    display: flex;
}
.flex__child{
    outline: 3px;
    outline-style: solid;
    outline-color: green;
    
    flex-basis: 30rem;
    height: 100px;
    text-align: center ;

    padding-top: 50px;

    font-size: 40px;
}

.flex-container :first-child{
    background-color: yellow;
}

.flex-container :nth-child(2){
    background-color: red;
    padding-left: 30px;
    padding-right: 30px;
}

.flex-container :nth-child(3){
    background-color: blue;
    padding-left: 30px;
    padding-right: 30px;

}

.flex-container :last-child{
    background-color: purple;
}