.flex-container{
    outline: 5px;
    outline-style: solid;
    outline-color: black ;
    width: 900px;
    
    display: flex;
}
.flex__child{
    outline: 3px;
    outline-style: solid;
    outline-color: green;
    
    flex-basis: 30rem;
    height: 150px;
    text-align: center ;
    padding-top: 140px;
}

.flex-container :first-child{
    background-color: yellow;
}

.flex-container :nth-child(2){
    background-color: red;
}

.flex-container :nth-child(3){
    background-color: blue;
}

.flex-container :last-child{
    background-color: purple;
}