body{
    font-family: 'Courier New', Courier, monospace;
}
.container,h5{
    width: 1140px;
}
h1{
 width: 70%;
 color: green;
 float: left;
 position: relative;
}
.Foto{
    padding: 50px;
    width: 500px;
    height: 500px;
    border: 10px solid black;
    box-sizing: border-box
    
}
.absoluut{
    position: absolute;
    color: green;
    top: 480px;
    right: 210px;
    
}

h2{
    width: 24%;
    font-size: 20px;
    float: right;
    color: green;
}
.subred{
    color: red;
}
.title{
    font-size: 30px;
    color: green;
}

h3{
    width: 75%;
    float: left;
    font-size: 20px;
    color: green;
}
h4{
    border-top: 10px solid darkgrey;
    color: green;
    font-size: 30px;
    position: relative;
    width: 75%;
    float: left;

}
.her{
    font-size: 20px;
    position: absolute;
    top:20px;
    right:10px;

}
.tijger2{
    position: absolute;
    top: 20px;
    right: 500px;
}
