
.flex-container{
    outline: 5px;
    outline-style: solid;
    outline-color: black ;
    width: 800px;
    
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    flex-wrap: wrap;


}
.flex__child{
    outline: 3px;
    outline-style: solid;
    outline-color: green;
    height: 300px;

}

.i1{
    height: 100px;
    flex-basis: 150px;
    background-color: yellow;
    text-align: center;
    padding: 70px 0;
}

.i2{
    height: 100px;
    flex-basis: 150px;
    background-color: red;
    text-align: center;
    padding: 70px 0;
}

.i3{
    height: 100px;
    flex-basis: 150px;
    background-color: blue;
    text-align: center;
    padding: 70px 0;
}

.i4{
    height: 100px;
    flex-basis: 150px;
    background-color: purple;
    text-align: center;
    padding: 70px 0;
}

.i5{
    height: 100px;
    flex-basis: 150px;
    background-color: yellow;
    text-align: center;
    padding: 70px 0;
}

.i6{
    height: 100px;
    flex-basis: 150px;
    background-color: red;
    text-align: center;
    padding: 70px 0;
}

.i7{
    height: 100px;
    flex-basis: 150px;
    background-color: blue;
    text-align: center;
    padding: 70px 0;
}

.i8{
    height: 100px;
    flex-basis: 150px;
    background-color: purple;
    text-align: center;
    padding: 70px 0;
}

.i9{
    height: 100px;
    flex-basis: 150px;
    background-color: yellow;
    text-align: center;
    padding: 70px 0;
}

.i10{
    height: 100px;
    flex-basis: 150px;
    background-color: red;
    text-align: center;    
    padding: 70px 0;
}
