
.flex-container{
    outline: 5px;
    outline-style: solid;
    outline-color: black ;
    width: 900px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    flex-direction: row-reverse;
    
}
.flex__child{
    outline: 3px;
    outline-style: solid;
    outline-color: green;

}

.i1{
    height: 100px;
    flex-basis: 150px;
    background-color: yellow;
    text-align: center;
    padding: 70px 0;
    margin-right: 20px;
}

.i2{
    height: 100px;
    flex-basis: 150px;
    background-color: red;
    text-align: center;
    padding: 70px 0;
    margin-right: 20px;
}

.i3{
    height: 100px;
    flex-basis: 150px;
    background-color: blue;
    text-align: center;
    padding: 70px 0;
    margin-right: 20px;
}

.i4{
    height: 100px;
    flex-basis: 150px;
    background-color: purple;
    text-align: center;
    padding: 70px 0;
    margin-right: 20px;
}


