
@media only screen and (max-width: 1024px){

    .sub{
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
 }

 @media only screen and (max-width: 787px){

    .sub{
        font-size: 90px;
    }
 }

 @media only screen and (max-width: 605px){

    .sub{
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
 }

 @media only screen and (max-width: 466px){

    .sub{
        font-size: 100px;
    }
 }