.container{
width: 1000px;

    display: grid;
    background-color: palevioletred;

    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 30px;

    grid-template-columns: repeat(2, 500px);
    grid-auto-rows: 100px;
}

.item_1{
    background-color: yellow;
    padding-top: 30px;
}

.item_2{
    background-color: rgb(250, 153, 186);
    padding-top: 30px;
}

.item_3{
    background-color: red;
    padding-top: 30px;
}

.item_4{
    background-color: blue;
    padding-top: 30px;
}

.item_5{
    background-color: purple;
    padding-top: 30px;
}

.item_6{
    background-color: green;
    padding-top: 30px;
}