.container{

    width: 700px;
    height: 500px;

    display: grid;
    background-color: palevioletred;

    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 30px;

    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 100px);

}

.outline{
    width: 700px;
    height: 500px;

    display: grid;

    margin: auto;
    text-align: center;
    font-size: 30px;

    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 100px);
    
    outline: black 2px solid;

}

.item_1{
    background-color: yellow;
    padding: 100px 0;

}

.item_2{
    background-color: rgb(250, 153, 186);
    padding: 100px 0;

}

.item_3{
    background-color: red;
    padding: 100px 0;
}

.item_4{
    background-color: blue;
    padding: 100px 0;
}

.item_5{
    background-color: purple;
    padding: 100px 0;
}

.item_6{
    background-color: green;
    padding: 100px 0;
}


.item_7{
    background-color: rgb(145, 194, 182);
    grid-row: 2/3;
    padding: 100px 0;
}