.container{
    display: grid;
    grid-template-columns:repeat(4, 200px) ;
    grid-template-rows:repeat(4,200px) ;
}
.black{
    background-color: black;


}

.white{
    background-color: whitesmoke;
}