img{
    position: absolute;
    top: 35%;
    left: 25%;
}

h1{
    position: absolute;
    top: 30%;
    left: 52%;
}

p{
    position: absolute;
    top: 37%;
    left: 48%;
    width: 42ch;
}
.but{
    position: absolute;
    top: 52%;
    left: 48%;
}

.button{
    background-color: rgba(255, 166, 0, 0.651);
    border: orange;
    border-radius: 50px;
    text-decoration: none;
    height: 30px;
    width: 200px;

}

