/* -------------------------------------------------*/
/* basic setup */
/* -------------------------------------------------*/
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
/* -------------------------------------------------*/
/* reuseable code */
/* -------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* -------------------------------------------------*/
/* button */
/* -------------------------------------------------*/
a{
    display: inline-block;
    text-decoration: none;
    padding:10px 100px;
}

.button{
    background-color: green;
}

.btn2{
    background-color: yellow;
}

.btn3{
    background-color: red;
}

.btn4{
    background-color: blue;
}
