
.flex-container{
    outline: 5px;
    outline-style: solid;
    outline-color: black ;
    width: 800px;
    
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;


}
.flex__child{
    outline: 3px;
    outline-style: solid;
    outline-color: green;
    height: 300px;


}

.i1{
    height: 100px;
    flex-basis: 150px;
    background-color: yellow;
    text-align: center;
    padding: 70px 0;
}

.i2{
    height: 100px;
    flex-basis: 150px;
    background-color: red;
    text-align: center;
    padding: 70px 0;
}

.i3{
    height: 100px;
    flex-basis: 150px;
    background-color: blue;
    text-align: center;
    padding: 70px 0;
}

.i4{
    background-color: purple;
    text-align: center;
    padding: 10px 0;
    width: 100px;
    height: 20px;
    flex-basis: 0 0 0;

}

